
@{
    ViewBag.Title = "Index";
}

<h2>Главная страница</h2>
<p>Кнопка</p>
<p>@Html.ActionLink("AddSmth","AddRecordCategory","Records")</p>
<p>@Html.ActionLink("Смотреть", "RecordView", "Records")</p>

