
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            Привет @User.Identity.Name.ToString()
        </div>
    }

    <div>
        @Html.ActionLink("Регистрация", "Register")
        @Html.ActionLink("Вход", "Login")
        @Html.ActionLink("Выход", "LogOff")
    </div>
</div>