
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRecordFiles</title>
</head>
<body>
    <p>Шаг 3: добавление файлов</p>
    <div> 
        @using (Html.BeginForm())
        {
            <p><input type="submit" value="Далее" /></p>
        }
    </div>
</body>
</html>
