@model CatalogAppMVC.Models.FileView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRecordFiles</title>
</head>
<body>
    <p>Шаг 3: добавление файлов</p>
@using (Html.BeginForm("AddRecordFiles", "Records", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="Email">
                Загрузите файл:
            </label>
            <div class="controls">
                @Html.TextBox("UploadedFile", Model.UploadedFile, new { type = "file", @class = "input-xlarge" })
                @Html.ValidationMessage("UploadedFile")
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Загрузить
            </button>
        </div>
    </fieldset>
}
    @Html.ActionLink("Создать запись", "CreateRecord")
</body>
</html>
